.row {
    margin-bottom: 10px;
}


.col-3{
    height: calc((3 / 12) * 100vw);
    background-color: yellow;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-3>p{
    font-size: 40px;
}